<div class="container">
  <div class="col-md-6 col-md-3">
    <div id="login-container">
      <%= form_tag do %>
          <h2 class="form-signin-heading">Please sign in</h2>
          <% unless notice.nil? %>
            <div class="alert alert-danger fade in">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <%= notice %>
            </div>
          <% end %>
          <%= text_field_tag :user, "", class:'form-control', placeholder:'Email address' %>
          <br>
          <%= password_field_tag :password, "", class:'form-control', placeholder:'Password'%></p>
          <br>
          <%= submit_tag("Login", class: "btn btn-success btn-lg") %>
          <%= submit_tag("Sign up", name: "signup", class:"btn btn-success btn-lg") %>
      <% end %>
      <%= link_to "Login with Google" , controller: :auth0, action: :google_authorize %>
    </div>
  </div>
</div>
